<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>在线心理测评管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../layuiadmin/layui/css/layui.css" th:href="@{/layuiadmin/layui/css/layui.css}"
          media="all">
    <link rel="stylesheet" href="../layuiadmin/style/admin.css" th:href="@{/layuiadmin/style/admin.css}" media="all">
</head>
<body class="layui-layout-body">

<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!-- 头部区域 -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect>
                    <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" target="_blank" title="前台">
                        <i class="layui-icon layui-icon-website"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" layadmin-event="refresh" title="刷新">
                        <i class="layui-icon layui-icon-refresh-3"></i>
                    </a>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right" style="margin-right: 30px;">
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;">
                        <cite>欢迎您！[[${session.loginName}]]</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd layadmin-event="logout" onclick="logout()" style="text-align: center;"><a>退出</a></dd>
                    </dl>
                </li>
            </ul>
        </div>

        <!-- 侧边菜单 -->
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo" lay-href="home/console.html">
                    <span>在线心理测评管理系统</span>
                </div>

                <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu"
                    lay-filter="layadmin-system-side-menu">
                    <li data-name="home" class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;" lay-tips="文章管理" lay-direction="2">
                            <i class="layui-icon layui-icon-read"></i>
                            <cite>文章管理</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd data-name="article" class="layui-this">
                                <a lay-href="/articleUi">文章查询</a>
                            </dd>
                            <dd data-name="article">
                                <a lay-href="/articleUiAdd">添加文章</a>
                            </dd>
                        </dl>
                    </li>

                    <li data-name="template" class="layui-nav-item">
                        <a href="javascript:;" lay-tips="留言管理" lay-direction="2">
                            <i class="layui-icon layui-icon-template"></i>
                            <cite>留言管理</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a lay-href="/leacotsView">留言列表</a></dd>
                        </dl>
                    </li>

                    <li data-name="user" class="layui-nav-item">
                        <a href="javascript:;" lay-tips="用户管理" lay-direction="2">
                            <i class="layui-icon layui-icon-user"></i>
                            <cite>用户管理</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a lay-href="/userUi">用户列表</a></dd>
                        </dl>
                    </li>

                    <li data-name="order" class="layui-nav-item">
                        <a href="javascript:;" lay-tips="心理测评" lay-direction="2">
                            <i class="layui-icon layui-icon-form"></i>
                            <cite>心理测评</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a lay-href="/topicView">测评题目查询</a></dd>
                            <dd><a lay-href="/pgtestView">测评管理</a></dd>
                        </dl>
                    </li>
                    <li data-name="dialogue" class="layui-nav-item">
                        <a href="javascript:;" lay-tips="公告" lay-direction="2">
                            <i class="layui-icon layui-icon-dialogue"></i>
                            <cite>公告管理</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a lay-href="/noticeUi">公告查询</a></dd>
                            <dd><a lay-href="/noticeUiAdd">公告添加</a></dd>
                        </dl>
                    </li>
                    <li data-name="chart-screen" class="layui-nav-item">
                        <a href="javascript:;" lay-tips="系统监控" lay-direction="2">
                            <i class="layui-icon layui-icon-chart-screen"></i>
                            <cite>系统设置</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a lay-href="/updatePwdViwe">密码修改</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>

        <!-- 页面标签 -->
        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-down">
                <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;"></a>
                        <dl class="layui-nav-child layui-anim-fadein">
                            <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                            <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                            <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                <ul class="layui-tab-title" id="LAY_app_tabsheader">
                    <li lay-id="/home/console" lay-attr="home/console.html" class="layui-this"><i
                            class="layui-icon layui-icon-home"></i></li>
                </ul>
            </div>
        </div>


        <!-- 主体内容 -->
        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show">
                <iframe src="/home/console" frameborder="0" class="layadmin-iframe"></iframe>
            </div>
        </div>

        <!-- 辅助元素，一般用于移动设备下遮罩 -->
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>

<script src="../layuiadmin/layui/layui.js" th:src="@{/layuiadmin/layui/layui.js}"></script>
<script>
    layui.config({
        base: '../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use('index');
</script>
<script>
    function logout() {
        $.ajax({
            type: 'GET',
            url: '/logout',
            success: function () {
                layer.msg('退出成功！', {
                    offset: '15px'
                    , icon: 1
                    , time: 1000
                });
                location.reload();

            }
        });
    }
</script>
</body>
</html>


