<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pengzhen.yixinli.mapper.TopicMapper">
    <resultMap id="BaseResultMap" type="com.pengzhen.yixinli.entity.Topic">
        <id column="id" property="id"/>
        <result column=" topic_content" property="topicContent"/>
        <result column="refer_answer" property="referAnswer"/>
        <result column="topic_time" property="topicTime"/>
        <result column="user_op" property="userOp"/>
    </resultMap>
    <delete id="deleteByPrimaryKey">
    delete from `sys_topic`
    where id = #{id}
  </delete>
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into `sys_topic` (` topic_content`, refer_answer, topic_time, user_op)
    values (#{ topicContent}, #{referAnswer}, #{topicTime}, #{userOp})
  </insert>
    <update id="updateByPrimaryKey">
    update `sys_topic`
    set ` topic_content` = #{ topicContent},
      refer_answer = #{referAnswer},
      topic_time = #{topicTime},
      user_op = #{userOp}
    where id = #{id}
  </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select id, ` topic_content`, refer_answer, topic_time, user_op
    from `sys_topic`
    where id = #{id}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, ` topic_content`, refer_answer, topic_time, user_op
    from `sys_topic`
  </select>
    <select id="count" resultType="int">
      select count(*) from sys_topic
    </select>
    <select id="selectByKeyWord" resultMap="BaseResultMap">
        select id, ` topic_content`, refer_answer, topic_time, user_op
        from `sys_topic`
        <where>
            <if test="_parameter !=null and _parameter !='' and _parameter !='undefined' ">
                id=#{keyword1}
            </if>
        </where>
    </select>
</mapper>